{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets3/css/bootstrap.min.css?ver=1.1.0') }}" rel="stylesheet">
    <link href="{{ asset('assets3/css/main.css?ver=1.1.0') }}" rel="stylesheet">


    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
    {{  parent() }}
{% endblock %}
{% block body %}

        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="green">
                    <div class="page-header-image" data-parallax="true" style="background-image: {{asset('assets3/images/cc-bg-1.jpg')}}"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><a href="#"><img src="{{ asset('profiles/' ~ app.user.pdp) }}" alt="Image"/></a></div>
                            <div class=" ">{{ app.user.nom }}{{ app.user.prenom }}</div>
                            <p class="category text-white">{{ app.user.profil }}</p>
                            {% if app.user.cv %}
                            <a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                            <a class="btn btn-primary" href="{{ path('upload_cv') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Upload new CV</a>  <a  class="btn btn-primary" href="{{ path('edit_photo_profil',{'idUser':app.user.id}) }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">  Edit Photo</a>
                            {% elseif app.user.role == "Formateur" or app.user.role =="Recruteur"  %}
                            {% else %}
                            <a class="btn btn-secondary" href="{{ path('upload_cv') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Upload new CV</a>  <a  class="btn btn-secondary" href="{{ path('edit_photo_profil',{'idUser':app.user.id}) }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">  Edit Photo</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 text-info">About</div>
                                <p>{{ app.user.infos }}</p>
                                {% if app.user.role == "Etudiant" and app.user.idfaculte%}
                                <div class="h4 mt-0 text-info">Faculte</div>

                                <p >{{ app.user.idfaculte.nomfaculte }}</p>
                                {% elseif app.user.role == "Recruteur"%}
                                    <div class="h4 mt-0 text-info">Societe</div>

                                    <p >{{ app.user.idsociete.nomsociete }}</p>
                                {% else %}

                                {% endif %}
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Basic Information</div>

                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                                    <div class="col-sm-8">{{app.user.email}}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                                    <div class="col-sm-8">{{ app.user.tel }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">CIN:</strong></div>
                                    <div class="col-sm-8">{{ app.user.cin }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                                    <div class="col-sm-8">English, German, French</div>
                                </div>
                                <div class="row mt-5" style="text-align: right">
                                    <a  class="btn btn-success" href="{{ path('edit_profile',{'idUser': app.user.id}) }}">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% if app.user.role == "Etudiant" %}
    <div>

    </div>
    <div class="section" id="skill">
        <div class="container">
            <div class="h4 text-center mb-4 title">Professional Skills</div>
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="card-body">
                    <div class="row">
                        {%  for c in competenes %}
                            <div class="col-md-6">
                                <div class="progress-container progress-primary"><span class="progress-badge">{{ c.nomcompetance }} <a href="{{ path('edit_competance', {'idCompetance': c.idcompetance}) }}"><i class="fa-solid fa-pen-to-square" style="font-size: 15px;color: deepskyblue"></i></a><a href="{{ path('supp_competance',{'idCompetance': c.idcompetance}) }}">   <i class="fa-solid fa-xmark" style="font-size: 20px;color: red"></i></a></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width:
                                             {%  if c.niveau == "Expert" %}
                                                     95%
                                             {% elseif c.niveau == "Intermediare" %}
                                                     55%
                                                 {% else %}
                                                     20%
                                                     {% endif %}
                                                     ;
                                                     ">

                                        </div><span class="progress-value">{%  if c.niveau == "Expert" %}
                                                Expert
                                            {% elseif c.niveau == "Intermediare" %}
                                                Intermediare
                                            {% else %}
                                                Debutant
                                            {% endif %}
                                                     </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <a class="btn btn-success w-50 m-auto" href="{{ path('add_competance') }}">Ajouter Nouvelle Competance</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="experience">
        <div class="container cc-experience">
            <div class="h4 text-center mb-4 title">Work Experience</div>
            {% for e in experiences  %}
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>{{ e.dateDebut | date("F Y") }} - {{ e.datefin | date("F Y")}}</p>
                            <div class="h5">{{ e.societe }}</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">{{ e.poste }}</div>
                            <p>{{ e.description }}</p>
                            <div class="competences mise en ouvre">
                                <p class="text-info">Competences Mise En Oeuvre :</p>
                                <p>{{ e.competanMiseEnOuvre}}</p>
                            </div>
                            <div class="Manipulation" style="float:right">
                                <a class="btn btn-secondary" href="{{ path('edit_experience', {'idExperience': e.idexperience}) }}">Modifier</a>
                                <a class="btn btn-danger" href="{{ path('supp_experience',{'idExperience': e.idexperience}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a class="btn btn-success  w-100 p-3  " href="{{ path('add_experience') }}">Ajouter nouvelle experience</a>
    </div>
    </div>

   
    {% endif %}

    <script src="{{ asset('assets3/js/core/jquery.3.2.1.min.js?ver=1.1.0') }}"></script>
    <script src="{{ asset('assets3/js/core/popper.min.js?ver=1.1.0') }}"></script>
    <script src="{{ asset('assets3/js/core/bootstrap.min.js?ver=1.1.0') }}"></script>
    <script src="{{ asset('assets3/js/now-ui-kit.js?ver=1.1.0') }}"></script>
    <script src="{{ asset('assets3/js/aos.js?ver=1.1.0') }}"></script>
    <script src="{{ asset('assets3/scripts/main.js?ver=1.1.0') }}"></script>
{% endblock %}

