{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div style="margin-top: 120px;">
        <div class="page-profil">
            <div class="left-profil">
                <div class="contact-info">
                    <img alt="profile" src="{{ asset('profiles/' ~ app.user.pdp) }}" width="200px" height="200px"/>
                    <div style="margin-top: 20px;margin-left: 110px">
                      <a href="{{ path('edit_photo_profil',{'idUser':app.user.id}) }}">  <p>Edit Photo<i class="fa-solid fa-pen-to-square" style="font-size: 20px;color: green"></i></p></a>
                    </div>
                    <hr>
                    <p>Username : {{ app.user.username }}</p>
                    <p>Email : {{ app.user.email }}</p>
                    <p>Telephone : {{ app.user.tel }}</p>
                    {% if app.user.idfaculte %}
                    <p>Faculte : {{ app.user.idfaculte.nomfaculte }}</p>
                    {% else %}
                    <p>Faculte : <a href="{{ path('edit_faculte',{'idUser':app.user.id}) }}" >Ajouter Faculte<i class="fa-solid fa-pen-to-square" style="font-size: 20px;color: green"></i></a></p>
                    {% endif %}
                    <a href="{{ path('edit_profile',{'idUser': app.user.id}) }}">Edit Profile</a>
                </div>
                <hr>
                <div class="main-competences" style="text-align: center">
                    <h3>Main Competance</h3>
                   {%  for c in competenes %}
                    <p>{{ c.nomCompetance }}</p>
                    {% endfor %}

                </div>
            </div>
            <div class="right-profil">
                <div class="upper-profil">
                    <p>{{ app.user.nom }}{{ app.user.prenom }}</p>
                    <p>{{ app.user.profil }}</p>
                    <p>Note : 3</p>
                    <p>{{ app.user.note }}</p>
                </div>
                <div class="lower-profil">
                    <div class="tab ">
                        <button class="tablinks active" onclick="openCity(event, 'Competance')">Competance</button>
                        <button class="tablinks" onclick="openCity(event, 'Experience')">Experience</button>
                    </div>

                    <!-- Tab content -->
                    <div id="Competance" class="tabcontent" style="display: block">
                        <a href="{{ path('add_competance') }}">Ajouter Nouvelle Competance</a>
                        {% for c in competenes %}
                        <div class="comp" style="width:200px;padding:10px;border: 1px solid black;display: flex;align-items:center;justify-content: space-between">
                            <div>
                                <h4><b>{{ c.nomCompetance }}</b></h4>
                                <h5>{{ c.niveau }}</h5>
                            </div>
                            <div style="display: flex;flex-direction: column;">
                                  <a href="{{ path('edit_competance', {'idCompetance': c.idcompetance}) }}"><i class="fa-solid fa-pen-to-square" style="font-size: 30px;color: green"></i></a>
                                  <a href="{{ path('supp_competance',{'idCompetance': c.idcompetance}) }}"><i class="fa-solid fa-xmark" style="font-size: 30px;color: red"></i></a>
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                    <div id="Experience" class="tabcontent" >
                         <a href="{{ path('add_experience') }}">Ajouter nouvelle experience</a>
                        {% for e in experiences %}
                        <div class="exp" style="padding:10px;border: 1px solid black;display: flex;justify-content: space-between;align-items:center">
                            <div>
                                <p> Duree : {{ e.dateDebut | date }} ---> {{ e.datefin | date}}</p>
                                <h4>poste : {{ e.poste }}</h4>
                                <h5>Societe : {{ e.societe }}</h5>

                                <p> Competence Mise En Oeuvre : {{e.competanMiseEnOuvre}}</p>
                            </div>

                            <div style="display: flex;flex-direction: column;">

                               <a href="{{ path('edit_experience', {'idExperience': e.idexperience}) }}"><i class="fa-solid fa-pen-to-square" style="font-size: 30px;color: green"></i></a>
                                 <a href="{{ path('supp_experience',{'idExperience': e.idexperience}) }}"><i class="fa-solid fa-xmark" style="font-size: 30px;color: red"></i></a>
                            </div>
                        </div>

                        {% endfor %}

                    </div>




                </div>
            </div>

        </div>
    </div>
    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
{% endblock %}

