{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div style="margin-top: 120px;display: flex;align-items: center;justify-content: center;">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputUsername">Username</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3">
				<div style="padding:15px" class="input-group-prepend">
					<div class="input-group-text">

						<input type="checkbox" name="_remember_me">
						Remembre me

					</div>
				</div>
			</div>

            


			<div style="display: flex;flex-direction: column">
				<button class="btn btn-lg btn-outline-info" type="submit" style="margin-top: 20px;margin-bottom: 40px">
					Sign in
				</button>
				<small>
					<a class="btn btn-outline-dark" style="color:grey;cursor: pointer" href="{{ path("reset-password-request") }}">Vous avez oublié votre mot de passe ?</a>
				</small>
			</div>

		</form>
	</div>

{% endblock %}
