{% extends 'baseAdmin.html.twig' %}

{% block title %}Question index
{% endblock %}

{% block body %}
<div style="display: flex;align-items: center;justify-content: center;padding:150px">
   <div>
       <h1 class="card-title">Liste des Questions</h1>
        <div style="display: flex;align-items: right;justify-content: right;">       
		<a class="btn btn-success" href="{{ path('ajouterQuestion') }}">Ajouter Question </a></div>
        <table class="table">
			<thead>
				<tr>
					<th>Enonce</th>
					<th>Domaine</th>
					<th>Reponsecorrecte</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for question in questions %}
					<tr>
						<td>{{ question.enonce }}</td>
						<td>{{ question.domaine }}</td>
						<td>{{ question.reponsecorrecte }}</td>
						<td>
							<a class="btn btn-outline-primary" href="{{ path('afficherQuestion', {'idquestion': question.idquestion}) }}">show</a>
							<a class="btn btn-outline-secondary" href="{{ path('modifierQuestion', {'idquestion': question.idquestion}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
         </div>
    </div>
{% endblock %}
