{% extends 'baseAdmin.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
    <br>
    <br>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Datereservation</th>
        </tr>
        </thead>
        <tbody>
        {% for r in reservation %}
            <tr>
                <td>{{ r.nom }}</td>
                <td>{{ r.datereservation ? r.datereservation|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('editreservation', {'idreservation': r.idreservation}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('deletereservation', {'idreservation': r.idreservation}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('newreservation') }}">Creer une nouvelle reservation</a>

    <div class="pagination">
        {{ knp_pagination_render(reservation) }}
    </div>
{% endblock %}
