{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <br>
    <br>
    <br>
    <div class="example-wrapper">
    <table class="table table-striped">

    <div>
        <p style="100px" > <input  id="myInput"  type="text" placeholder="search">
            <!--  <img src="https://img.icons8.com/nolan/344/google-web-search.png" style="width:50px;height:50px;"/></p>
            -->
    </div>

    <div class="example-wrapper">

        {% for message in app.flashes('success')%}
            <div class="alert alert-success">

                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped" id="t">
            </thead>

            <th>nom</th>
            <!--<th>datereservation</th>-->

            <tbody id="all">
            <tbody>
            <tbody>
            <tbody id="myTable">
            {% for r in reservation %}
                <tr>
                    <td>{{ r.nom }}</td>
                                    <td>
                                        <a class="btn btn-danger" href="{{ path('deletereservation', {'idreservation': r.idreservation}) }}">Supprimer</a>
                                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
                    <a href="{{ path('DownloadProduitsDataReservation') }}" class="btn btn-dark waves-effect waves-light">Download PDF</a>

            <tbody id="search">

            </tbody>

            </tbody>
        </table>

            <a href="{{ path('newreservation') }}">Creer une nouvelle reservation</a>

        <a href="{{ 'ListFormationFormateur' }}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Retour à la liste des formations</a>

        <div class="pagination">
            {{ knp_pagination_render(reservation) }}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

    </div>

{% endblock %}