{% extends 'base.html.twig' %}

{% block title %}Demandestage Recruteur{% endblock %}

{% block body %}
    <h1 style="padding:80px">Demandes Stages </h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Etat</th>
                <th>Sujet Stage</th>
                <th>Nom&Prènom Etudiant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandestage in demandestages %}
            <tr>
                
                <td>{{ demandestage.etat }}</td>
                <td> {{ demandestage.idstage}}</td>
                <td><a href="{{ path('user_profile',{'id':demandestage.iduser.id }) }}">{{ demandestage.iduser.nom }} {{ demandestage.iduser.prenom }}</a></td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('app_demandestage_show', {'iddemande': demandestage.iddemande}) }}">show</a>
                    <a class="btn btn-outline-success" href="{{ path('app_demandestage_edit', {'iddemande': demandestage.iddemande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
