{% extends 'base.html.twig' %}

{% block title %}Demandestage Recruteur{% endblock %}

{% block body %}
    <h1 style="padding:60px">Demande Stage </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iddemande</th>
                <th>Etat</th>
                <th>Idstage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandestage in demandestages %}
            <tr>
                <td>{{ demandestage.iddemande }}</td>
                <td>{{ demandestage.etat }}</td>
                <td> <a href="{{ path('app_stage_show', {'idstage': demandestage.idstage}) }}">{{ demandestage.idstage}}</td>
                <td>
                    <a href="{{ path('app_demandestage_show', {'iddemande': demandestage.iddemande}) }}">show</a>
                    <a href="{{ path('app_demandestage_edit', {'iddemande': demandestage.iddemande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demandestage_new') }}">Create new</a>
{% endblock %}
