{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Data Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            {{ form(form) }}

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">username</th>
                                    <th scope="col">nom</th>
                                    <th scope="col">prenom</th>
                                    <th scope="col">tel</th>
                                    <th scope="col">cin</th>
                                    <th scope="col">email</th>
                                    <th scope="col">role</th>
                                    <th scope="col">Departement</th>
                                    <th scope="col">Block</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for u in users %}
                                    <tr>
                                        <th scope="row">{{ u.id }}</th>
                                        <td>{{ u.username}}</td>
                                        <td>{{ u.nom}}</td>
                                        <td>{{ u.prenom}}</td>
                                        <td>{{ u.tel}}</td>
                                        <td>{{ u.cin}}</td>
                                        <td>{{ u.email}}</td>
                                        <td>{{ u.role}}</td>
                                        {% if u.role == "Etudiant" %}
                                        <td>{{ u.idFaculte.nomfaculte }}</td>
                                        {% elseif u.role == "Recruteur" %}
                                            <td>{{ u.idSociete.nomsociete }}</td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                            {% if u.etatBlock == false %}
                                        <td><a href="{{ path('blockUser',{'idUser':u.id}) }}" class="btn btn-outline-primary">Block</a></td>
                                        {% elseif u.etatBlock==true %}
                                            <td><a  href="{{ path('blockUser',{'idUser':u.id}) }}" class="btn btn-outline-danger">Deblock</a></td>
                                        {% endif%}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                            <div class="navigation" >

                                {{ knp_pagination_render(users,'pagination.html.twig') }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
{% endblock %}
