{% extends 'baseAdmin.html.twig' %}

{% block title %}Quiz list
{% endblock %}

{% block body %}


	<div style="display: flex;align-items: center;justify-content: center;padding:150px">
		<div>
			<h1 class="card-title">Liste des Quiz</h1>

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Domaine</th>
						<th>Datecreation</th>
					</tr>
				</thead>
				<tbody>
					{% for quiz in quizzes %}
						<tr>
							<td>{{ quiz.idquiz }}</td>
							<td>{{ quiz.domaine }}</td>
							<td>{{ quiz.datecreation ? quiz.datecreation|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a class="btn btn-outline-primary" href="{{ path('app_quiz_show', {'idquiz': quiz.idquiz}) }}">Afficher</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>
	<div class="d-flex justify-content-center">
		{% do quizzes.setPageRange(2) %}
		{{ knp_pagination_render (quizzes ,'pagination.html.twig') }}
	</div>
{% endblock %}
