{% extends 'base.html.twig' %}

{% block title %}Proposition index{% endblock %}

{% block body %}
    <h1>Proposition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idproposition</th>
                <th>Proposition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td>{{ proposition.idproposition }}</td>
                <td>{{ proposition.proposition }}</td>
                <td>
                    <a href="{{ path('app_proposition_show', {'idproposition': proposition.idproposition}) }}">show</a>
                    <a href="{{ path('app_proposition_edit', {'idproposition': proposition.idproposition}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proposition_new') }}">Create new</a>
{% endblock %}
