<div class="top-margin">
<article class="col-xs-12 maincontent">
<div style="display: flex;align-items: center;justify-content: center;padding:70px ">
	<div class="panel panel-default"style="padding:30px">
        <div class="panel-body">
							<h2 class="thin text-center">Ajouter Un Entretien</h2>
							<hr>

{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                                 <div class="top-margin" >

									<label>Date et Heure Entretien<span class="text-danger">*</span></label>
									{{ form_widget(form.dateentretien,{attr:{'class':'form-control'}}) }} 
                                    <br>
                                    {{ form_errors(form.dateentretien,{attr:{'class':'text-danger'}}) }}
								</div>
                                <div class="top-margin">  
                                <label>Stage <span class='text-danger'>*</span></label>
                                {{ form_widget(form.idstage,{attr:{'class':'form-control'}}) }} 
                                {{ form_errors(form.idstage,{attr:{'class':'text-danger'}}) }}
                                </div> 	
								<div class="top-margin">  
								<label>Etudiant <span class='text-danger'>*</span></label>
                                {{ form_widget(form.idpersonne,{attr:{'class':'form-control'}}) }} 
                                {{ form_errors(form.idpersonne,{attr:{'class':'text-danger'}}) }}
                                </div>							
                                <div class="top-margin">  
                                <label>Lien <span class='text-danger'>*</span></label>
                                {{ form_widget(form.lienentretien,{attr:{'class':'form-control'}}) }} 
                                {{ form_errors(form.lienentretien,{attr:{'class':'text-danger'}}) }}
                                </div>
                                                                <div class="top-margin">  

  								    <button class="btn">{{ button_label|default('Save') }}</button>
                                  
                                </div>
    							<hr>

  								
								</div>
{{ form_end(form) }}

</div>
    </div>
</div>
</article>
</div>
