{% extends 'base.html.twig' %}

{% block title %} List Stage Etudiant {% endblock %}

{% block body %}
    <h1 style="padding:60px">Stages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idstage</th>
                <th>Duree</th>
                <th>Type</th>
                <th>Domaine</th>
                <th>Description</th>
                <th>Sujet</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.idstage }}</td>
                <td>{{ stage.duree }}</td>
                <td>{{ stage.type }}</td>
                <td>{{ stage.domaine }}</td>
                <td>{{ stage.description }}</td>
                <td>{{ stage.sujet }}</td>
                <td>{{ stage.datedebut | date}}</td>
                <td>{{ stage.datefin | date}}</td>
                <td>
                    <a href="{{ path('app_demandestage_new', {'idstage': stage.idstage}) }}">Postuler</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stage_new') }}">Create new</a>
{% endblock %}
