{% extends 'base.html.twig' %}

{% block title %}Mes Stage Recruteur{% endblock %}

{% block body %}
 
<h1 style="padding:80px">Mes Stage </h1>

       {% for message in app.flashes('info') %}
                   <div class="alert alert-success">
                   {{ message }}

                   </div>
     {% endfor %}

     <a href="{{ path('app_stage_new') }}">Create new</a>
    <table class="table">
       
        <thead>
            <tr>
                
                <th>Duree En Mois</th>
                <th>Type</th>
                <th>Domaine</th>
                <th>Description</th>
                <th>Sujet</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s in stage %}
            <tr>
               
                <td>{{ s.duree }}</td>
                <td>{{ s.type }}</td>
                <td>{{ s.domaine }}</td>
                <td>{{ s.description }}</td>
                <td>{{ s.sujet }}</td>
                <td>{{ s.datedebut | date}}</td>
                <td>{{ s.datefin | date}}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'idstage': s.idstage}) }}">show</a>
                    <a href="{{ path('app_stage_edit', {'idstage': s.idstage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pag">
            {{ knp_pagination_render(stage,'pagination.html.twig') }}
        </div>

    
{% endblock %}
