{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello BibliothequeController!{% endblock %}

{% block body %}
<center>

            <div class="card-body">
                <h5 class="card-title">Bibliotheques</h5>
                <p>liste des bibliotheques <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

                <!-- Table with stripped rows -->
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table class="table datatable dataTable-table">
                            <thead>
                            <tr>

                                <th scope="col" data-sortable="" style="width: 7.61421%;"><a href="#" class="dataTable-sorter">#</a></th><th scope="col" data-sortable="" style="width: 27.1574%;"><a href="#" class="dataTable-sorter">NOM</a></th><th scope="col" data-sortable="" style="width: 33.5025%;" class="desc"><a href="#" class="dataTable-sorter">DESCRIPTION</a></th><th scope="col" data-sortable="" style="width: 12.6904%;"><a href="#" class="dataTable-sorter">DOMAINE</a></th><th scope="col" data-sortable="" style="width: 19.0355%;"><a href="#" class="dataTable-sorter">suppression</a></th><th scope="col" data-sortable="" style="width: 19.0355%;"><a href="#" class="dataTable-sorter">modification</a></th></tr>
                            </thead>
                            <tbody>
                            {% for c in bib %}
                            <tr><th scope="row">4</th><td>{{ c.nomc }}</td><td>{{c.descriptionc  }}</td><td>{{ c.domainec }}</td><td> <a href ="{{ path ('removeBibliotheque',{'id': c.intc}) }}">supprimer</a></td><td> <a href ="{{ path ('updateBibliotheque',{'id': c.intc}) }}"> modifier
                                    </a></td>
                                </tr> {% endfor %}
</table>
                        {{ knp_pagination_render(bib,'pagination.html.twig') }}


            </div>

 </center>




{% endblock %}