{% extends 'baseAdmin.html.twig' %}


{% block body %}

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="assets/img/logo.png" alt="">
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">





                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">La Bibliotheque</h5>
                                        <p class="text-center small">modifier la bibliotheque </p>
                                    </div>

                                    {{ form_start(form,{'attr':{novalidate:'novalidate'}}) }}

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Nom de la Bibliotheque</label>
                                        <div class="input-group has-validation">

                                            {{ form_widget (form.nomc,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors (form.nomc,{'attr':{'class':'text-danger'}}) }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Description de la bibliotheque</label>
                                        {{ form_widget (form.descriptionc,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors (form.descriptionc,{'attr':{'class':'text-danger'}}) }}
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">domaine de la bibliotheque</label>
                                        {{ form_widget (form.domainec,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors (form.domainec,{'attr':{'class':'text-danger'}}) }}
                                    </div>


                                </div>
                                <div class="col-12">
                                    <center>  {{ form_widget (form.Confirmer,{'attr':{'class':'btn btn-outline-info'}}) }} </center>
                                </div>

                                {{ form_end (form) }}

                            </div></div>
                        </center>



                    </div>
                </div>


        </div>

        </section>

        </div>
    </main>




{% endblock %}